---
## Mantenimy y Servicios Computacionales
title:  Mantenimiento Y Servicios Computacionales
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Esta pagina se mizo interesante  porque vienen mucha publicidad en donde te ayudan a como puedes resolver las averias cuando tienen falla a los equipos de computo
    image
    name: Joice Carmold
  - message: Mantiene informado sobre los últimas actualizaciones informáticas y da ayudas útiles a problemas cotidianos.
    image: "https://www.fillmurray.com/60/60?a=.png"
    name: Peter Rottenburg
  - message: Me gusta esa pagina porque vienen muchas explicaciones en como te pueden ayudar a reparar los equipos de computo
    image: "https://placebear.com/60/60?a=.png"
    name: D. and G. Gibbleston
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>Los técnicos de mantenimiento trabajan en equipo en una gran variedad de máquinas y su principal objetivo es prevenir, más que curar, las averías. Como en todas las profesiones de mantenimiento, el técnico de mantenimiento industrial está en el centro de la evolución de los sistemas industriales.</p>

	<p>¿Cuál es el objetivo del mantenimiento técnico?
Los objetivos de la función de mantenimiento son los siguientes: Maximizar la disponibilidad de maquinaria y equipo par la producción. Preservar el valor de las instalaciones, minimizando el uso y el deterioro. Conseguir estas metas en la forma más económica posible y alargo plazo.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
